body { margin: 0; padding: 0; }
  #map { position: absolute; top: 0; bottom: 0; width: 100%; }

.map-overlay{
  position: absolute;
  left: 0;
  top: 50px;
  padding: 10px;
}
#menu {
position: absolute;
background: #efefef;
padding: 10px;
font-family: 'Open Sans', sans-serif;
}

